@import "tailwindcss";

@theme {
  --color-sky: #389bff;
  --color-city-dark: #0f3d8a;
  --color-pixel-blue: #001c44;
  --color-gold: #ffd800;
  --color-pixel-ground: #803410;
  --color-grass-light: #54d01a;
  --color-grass-dark: #389b00;
  --color-dirt-dark: #401400;
  --font-determination-sans: var(--font-determination-sans);
  --font-coder-crux: var(--font-coder-crux);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

body {
  min-height: 100%;
  font-family: var(--font-pixel), monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  overflow: hidden;
  background: #389bff;
}

a {
  text-decoration: none;
}

.text-shadow-pixel {
  text-shadow: 6px 6px 0px #092c66;
}

.text-shadow-menu {
  text-shadow: 3px 3px 0px #092c66;
}
